<nav [ngClass]="{'menu-original': isOriginalStyle, 'menu-modificado': !isOriginalStyle}">
    <ul>
        <li class="start">
            <a [routerLink]="['/inicio']">Inicio</a>
        </li>

        <li>
            <a routerLink="/propiedades">Propiedades</a>
        </li>

        <li>
            <a (click)="toggleCitiesDropdown()">Ciudad</a>

        </li>

        <li>
            <a [routerLink]="['/publicar']">Publica tu propiedad</a>
        </li>

        <li>
            <a routerLink="/iniciar-sesion">Inicia sesión</a>
        </li>

    </ul>

</nav>

<div class="cont__ciudades">
    <ul *ngIf="showCitiesDropdown">
        <li *ngFor="let city of cities">
            <a [routerLink]="['/ciudad', city.id]">{{ city.name }}</a>
        </li>
    </ul>
</div>