<div class="cont">
    <div class="cont__title">
        <h2>TU LUGAR IDEAL</h2>
    </div>
    <div class="box-1">
    </div>
    <div class="box-3">
    </div>
    <div class="box-2">
        <img src="../../../assets/img/main/img-main-1.png" alt="">
    </div>


    <div class="box-4">
        <div class="cont__text">

            <h3>Bienvenido a Finderar</h3>
            <p>
                Donde cada puerta que abrimos es una oportunidad para encontrar tu hogar perfecto.
            </p>
        </div>
    </div>

</div>